.ansible
.ansible_galaxy
.ara
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.dockerenv
.lesshst
.local
.novaclient
.quickstart
.ssh
.tower_cli.cfg
.viminfo
openrc.sh
openrcv3.sh
build
reproducer-quickstart.sh
src
tripleo-quickstart
